@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
.spacer {
  height: 1rem; }

.padding-x {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x); }

.p-1 {
  padding: 0.25rem; }

.p-2 {
  padding: 0.5rem; }

.p-3 {
  padding: 1rem; }

.h-20 {
  height: 20px;
  display: inline-block; }

.bg-gray {
  background-color: var(--bg-gray); }

.bg-primary {
  background-color: var(--primary); }

.bg-surface {
  background-color: var(--surface-bg); }

.bg-linear-gradient {
  background-image: var(--gradient-pink); }

.bg-light-gray {
  background-color: var(--light-gray); }

.text-primary {
  color: var(--primary); }

.text-black {
  color: var(--text); }

.text-gray {
  color: var(--gray); }

.text-white {
  color: var(--white); }

.text-bold {
  font-weight: bold; }

.text-italic {
  font-style: italic; }

.font-small {
  font-size: 12pt; }

.font-base {
  font-size: 14pt; }

.font-large {
  font-size: 16pt; }

.border {
  border: 1px solid var(--border-color); }

.border-primary {
  border-color: var(--primary); }

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none; }

.button-primary {
  background-color: var(--primary);
  color: var(--white); }

.button-primary:hover {
  background-color: var(--primary);
  opacity: 0.8;
  color: var(--white); }

.button-outline {
  border: 1px solid var(--primary);
  color: var(--primary); }

.button-outline:hover {
  background-color: var(--primary);
  opacity: 0.2;
  color: var(--white); }

.icon {
  display: inline-block;
  margin: 0 0.3rem; }

.flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.items-center {
  align-items: center; }

.container {
  width: 100%;
  padding-right: var(--spacer-3);
  padding-left: var(--spacer-3);
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 720px; } }

@media (min-width: 992px) {
  .container {
    width: 960px; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px; } }

@media (min-width: 1600px) {
  .container {
    width: 1560px; } }

.container-fluid {
  width: 100%;
  padding-right: var(--spacer-3);
  padding-left: var(--spacer-3);
  margin-right: auto;
  margin-left: auto; }

@media screen and (min-width: 1500px) {
  .container-fluid {
    width: 100%;
    max-width: 2000px; } }

.mt-3 {
  margin-top: 12px; }

@media (min-width: 992px) {
  .mt-3 {
    margin-top: 40px; } }

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto; }
  .col-sm-1 {
    flex: 0 0 auto;
    width: calc((100%) / (12/1)); }
  .col-sm-2 {
    flex: 0 0 auto;
    width: calc((100%) / (12/2)); }
  .col-sm-3 {
    flex: 0 0 auto;
    width: calc((100%) / (12/3)); }
  .col-sm-4 {
    flex: 0 0 auto;
    width: calc((100%) / (12/4)); }
  .col-sm-5 {
    flex: 0 0 auto;
    width: calc((100%) / (12/5)); }
  .col-sm-6 {
    flex: 0 0 auto;
    width: calc((100%) / (12/6)); }
  .col-sm-7 {
    flex: 0 0 auto;
    width: calc((100%) / (12/7)); }
  .col-sm-8 {
    flex: 0 0 auto;
    width: calc((100%) / (12/8)); }
  .col-sm-9 {
    flex: 0 0 auto;
    width: calc((100%) / (12/9)); }
  .col-sm-10 {
    flex: 0 0 auto;
    width: calc((100%) / (12/10)); }
  .col-sm-11 {
    flex: 0 0 auto;
    width: calc((100%) / (12/11)); }
  .col-sm-12 {
    flex: 0 0 auto;
    width: calc((100%) / (12/12)); } }

@media screen and (min-width: 768px) {
  .col-md {
    flex: 1 0 0%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto; }
  .col-md-1 {
    flex: 0 0 auto;
    width: calc((100%) / (12/1)); }
  .col-md-2 {
    flex: 0 0 auto;
    width: calc((100%) / (12/2)); }
  .col-md-3 {
    flex: 0 0 auto;
    width: calc((100%) / (12/3)); }
  .col-md-4 {
    flex: 0 0 auto;
    width: calc((100%) / (12/4)); }
  .col-md-5 {
    flex: 0 0 auto;
    width: calc((100%) / (12/5)); }
  .col-md-6 {
    flex: 0 0 auto;
    width: calc((100%) / (12/6)); }
  .col-md-7 {
    flex: 0 0 auto;
    width: calc((100%) / (12/7)); }
  .col-md-8 {
    flex: 0 0 auto;
    width: calc((100%) / (12/8)); }
  .col-md-9 {
    flex: 0 0 auto;
    width: calc((100%) / (12/9)); }
  .col-md-10 {
    flex: 0 0 auto;
    width: calc((100%) / (12/10)); }
  .col-md-11 {
    flex: 0 0 auto;
    width: calc((100%) / (12/11)); }
  .col-md-12 {
    flex: 0 0 auto;
    width: calc((100%) / (12/12)); }
  .image {
    width: 416px;
    height: 416px; }
  .badges {
    height: 40px; }
  .badges span {
    padding: var(--spacer-2) 0;
    width: 90px;
    font-size: var(--font-base); }
  .badges span:first-child {
    width: 105px; }
  .badges span:last-child {
    width: 121px; }
  .description-text__info {
    width: 100%; }
  .ratings div span:last-child,
  .ratings div span:nth-last-child(2) {
    margin-left: 0.5rem;
    font-size: var(--font-large); }
  .products {
    display: flex;
    flex: 1; }
  .products__options {
    display: block;
    width: 76px; }
  .products .product {
    grid-template-columns: repeat(3, 200px); } }

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto; }
  .col-lg-1 {
    flex: 0 0 auto;
    width: calc((100%) / (12/1)); }
  .col-lg-2 {
    flex: 0 0 auto;
    width: calc((100%) / (12/2)); }
  .col-lg-3 {
    flex: 0 0 auto;
    width: calc((100%) / (12/3)); }
  .col-lg-4 {
    flex: 0 0 auto;
    width: calc((100%) / (12/4)); }
  .col-lg-5 {
    flex: 0 0 auto;
    width: calc((100%) / (12/5)); }
  .col-lg-6 {
    flex: 0 0 auto;
    width: calc((100%) / (12/6)); }
  .col-lg-7 {
    flex: 0 0 auto;
    width: calc((100%) / (12/7)); }
  .col-lg-8 {
    flex: 0 0 auto;
    width: calc((100%) / (12/8)); }
  .col-lg-9 {
    flex: 0 0 auto;
    width: calc((100%) / (12/9)); }
  .col-lg-10 {
    flex: 0 0 auto;
    width: calc((100%) / (12/10)); }
  .col-lg-11 {
    flex: 0 0 auto;
    width: calc((100%) / (12/11)); }
  .col-lg-12 {
    flex: 0 0 auto;
    width: calc((100%) / (12/12)); } }

@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto; }
  .col-xl-1 {
    flex: 0 0 auto;
    width: calc((100%) / (12/1)); }
  .col-xl-2 {
    flex: 0 0 auto;
    width: calc((100%) / (12/2)); }
  .col-xl-3 {
    flex: 0 0 auto;
    width: calc((100%) / (12/3)); }
  .col-xl-4 {
    flex: 0 0 auto;
    width: calc((100%) / (12/4)); }
  .col-xl-5 {
    flex: 0 0 auto;
    width: calc((100%) / (12/5)); }
  .col-xl-6 {
    flex: 0 0 auto;
    width: calc((100%) / (12/6)); }
  .col-xl-7 {
    flex: 0 0 auto;
    width: calc((100%) / (12/7)); }
  .col-xl-8 {
    flex: 0 0 auto;
    width: calc((100%) / (12/8)); }
  .col-xl-9 {
    flex: 0 0 auto;
    width: calc((100%) / (12/9)); }
  .col-xl-10 {
    flex: 0 0 auto;
    width: calc((100%) / (12/10)); }
  .col-xl-11 {
    flex: 0 0 auto;
    width: calc((100%) / (12/11)); }
  .col-xl-12 {
    flex: 0 0 auto;
    width: calc((100%) / (12/12)); } }

:root {
  --white: #ffffff;
  --primary: #FF6600;
  --text: #333333;
  --gray: #999999;
  --light-gray: #EDF0F3 --bg-gray: var(--light-gray);
  --surface-bg: #FFF0E6;
  --border-color: #E6E7EB;
  --gradient-pink: linear-gradient(to left, #F5515F, #FF7527);
  --padding-x: 3.33%;
  --padding-x-lg: 72px;
  --padding-y-lg: 48px;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --spacer-6: 5rem;
  --font-small: 12px;
  --font-base: 14px;
  --font-large: 16px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--text);
  font-size: var(--font-small); }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--spacer-3) / -1);
  margin-left: calc(var(--spacer-3) / -1);
  margin-bottom: var(--spacer-3); }

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: var(--spacer-3);
  padding-left: var(--spacer-3); }

.col {
  flex: 1 0 0%; }

.col-auto {
  flex: 0 0 auto;
  width: auto; }

.col-1 {
  flex: 0 0 auto;
  width: calc((100%) / (12/1)); }

.col-2 {
  flex: 0 0 auto;
  width: calc((100%) / (12/2)); }

.col-3 {
  flex: 0 0 auto;
  width: calc((100%) / (12/3)); }

.col-4 {
  flex: 0 0 auto;
  width: calc((100%) / (12/4)); }

.col-5 {
  flex: 0 0 auto;
  width: calc((100%) / (12/5)); }

.col-6 {
  flex: 0 0 auto;
  width: calc((100%) / (12/6)); }

.col-7 {
  flex: 0 0 auto;
  width: calc((100%) / (12/7)); }

.col-8 {
  flex: 0 0 auto;
  width: calc((100%) / (12/8)); }

.col-9 {
  flex: 0 0 auto;
  width: calc((100%) / (12/9)); }

.col-10 {
  flex: 0 0 auto;
  width: calc((100%) / (12/10)); }

.col-11 {
  flex: 0 0 auto;
  width: calc((100%) / (12/11)); }

.col-12 {
  flex: 0 0 auto;
  width: calc((100%) / (12/12)); }

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.image {
  width: 100%; }

.badges {
  display: flex;
  align-items: center;
  height: 20px; }

.badges__item {
  display: flex;
  align-items: center;
  justify-content: center; }

.badges span {
  padding: 2px 0;
  width: 75px; }

.badges span:first-child {
  display: flex;
  justify-content: center;
  border-radius: 2px 0px 0px 2px;
  width: 90px; }

.badges span:last-child {
  border-radius: 0 2px 2px 0;
  padding-right: 8px;
  width: 106px; }

.description-text {
  position: relative; }

.description-text__info {
  line-height: 24px;
  width: 336px;
  text-align: left; }

.description-text__box {
  background-color: #edf0f3;
  border-radius: 2px;
  padding: 5px;
  position: absolute;
  right: 3.33%;
  bottom: -5px; }

.ratings {
  display: flex;
  align-items: center; }

.ratings div {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.ratings div span:last-child,
.ratings div span:nth-last-child(2) {
  margin-left: 0.5rem; }

.ratings div span:last-child {
  color: var(--gray); }

.ratings div span:nth-last-child(2) {
  color: var(--primary); }

.price-box {
  border: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  padding: 0.5rem 0; }

.price-box__current_price {
  font-size: 16pt;
  font-weight: bold;
  color: var(--primary); }

.price-box__old_price {
  font-size: 12pt;
  text-decoration: line-through;
  color: var(--gray); }

.price-box__option {
  color: var(--gray);
  margin: 0 0.5rem;
  font-size: var(--font-base); }

.price-box__options {
  font-size: var(--font-base); }

.price-box__options span {
  color: var(--gray); }

.march-expo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-bg); }

.march-expo__image {
  width: 76px;
  height: 40px;
  background-color: transparent; }

.march-expo__text {
  font-size: var(--font-base);
  color: var(--primary);
  background-color: transparent; }

.march-expo__arrow {
  margin-right: 1rem;
  background-color: transparent; }

.march-expo__arrow img {
  background-color: transparent; }

.countdown {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.countdown__text {
  font-size: var(--font-base);
  color: var(--gray); }

.countdown__text span {
  color: var(--primary); }

.countdown__timer {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.countdown__timer span {
  font-size: var(--font-large);
  color: var(--gray);
  margin-left: 1rem; }

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1rem; }

.products__options {
  display: none;
  color: var(--gray);
  font-size: var(--font-base); }

.products .product {
  display: grid;
  grid-template-columns: 148px 56px 120px;
  align-items: center;
  height: 40px; }

.products .product__name, .products .product__price {
  font-size: var(--font-base); }

.products .product__actions {
  margin-left: 12px;
  display: flex;
  align-items: center; }

.products .product__actions button,
.products .product__actions span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  color: var(--gray);
  font-size: var(--font-base);
  text-align: center; }

.products .product__actions button:first-child {
  border-radius: 2px 0 0 2px; }

.products .product__actions button:last-child {
  border-radius: 0 2px 2px 0; }

.products .product__actions.disabled {
  border: 1px solid var(--border-color); }

.products .product__actions.enabled {
  border: 1px solid var(--primary); }

.trade-assurance {
  display: flex;
  align-items: center; }

.trade-assurance img {
  width: 12px;
  height: 14px;
  margin-right: 1rem; }

.trade-assurance span {
  font-size: var(--font-base);
  color: var(--gray);
  font-weight: bold; }

.trade-assurance span + span {
  font-size: var(--font-small);
  font-weight: 400;
  margin-left: 0.5rem; }

.payments {
  color: var(--gray); }

.payments img {
  width: 17px;
  height: 12px;
  margin-left: 0.5rem; }

.payments img:last-child {
  width: 28px; }

.links span {
  color: var(--gray);
  margin-right: 2rem; }

.checkout_summary {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacer-5);
  padding: var(--spacer-3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px; }

.checkout_summary__option {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacer-2); }

.checkout_summary__option span:first-child {
  font-size: var(--font-base);
  color: var(--gray); }

.checkout_summary__option span:last-child {
  font-weight: bold;
  font-size: var(--font-base); }

.checkout_summary__total {
  font-size: var(--font-large);
  color: var(--primary);
  font-weight: bold;
  margin-top: var(--spacer-5);
  text-align: right; }

.add-to-box {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: max-content;
  padding: 7.74%;
  margin: var(--spacer-5) auto; }

.add-to-box__shipping_cost {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem; }

.add-to-box__shipping_cost span:first-child {
  font-size: var(--font-base);
  color: var(--gray);
  width: 145px; }

.add-to-box__shipping_cost span + span {
  font-size: var(--font-large);
  font-weight: bold; }

.add-to-box__lead_time {
  display: flex;
  align-items: center;
  font-size: var(--font-base);
  color: var(--gray);
  margin-bottom: 1rem; }

.add-to-box__lead_time span {
  font-weight: bold;
  color: inherit;
  font-size: inherit;
  margin: 0 4px; }

.add-to-box__lead_time img {
  width: 15px;
  height: 14px;
  margin-left: 3.61%; }

.add-to-box__shipping_time {
  display: flex;
  align-items: center;
  font-size: var(--font-base);
  color: var(--gray);
  margin-bottom: 1rem; }

.add-to-box__shipping_time span {
  font-weight: bold;
  color: inherit;
  font-size: inherit;
  margin: 0 4px; }

.add-to-box__shipping_time img {
  width: 15px;
  height: 14px;
  margin-left: 3.61%; }

.add-to-box button {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  font-size: var(--font-base);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center; }

.add-to-box__login_button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  margin-bottom: 1rem; }

.add-to-box__contact_button {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
  margin-bottom: 1rem; }

.add-to-box__contact_button img {
  margin-right: 3.61%; }

.tooltip-container {
  position: relative;
  margin-left: var(--spacer-3); }

.tooltip-box {
  position: absolute;
  background: rgba(255, 102, 0, 0.6);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: calc(100% + 5px);
  display: none; }

.tooltip-box.visible {
  display: block;
  width: 200px; }

.tooltip-arrow {
  position: absolute;
  top: -10px;
  left: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }
